body {
	margin: 0;
	padding: 0;
	font-family: 'Nova Mono';
	background: #ddd;
}

.title {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  border: none;
  font: normal 72px/normal "Permanent Marker", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: 0 1px 0 rgb(204,204,204) , 0 2px 0 rgb(201,201,201) , 0 3px 0 rgb(187,187,187) , 0 4px 0 rgb(185,185,185) , 0 5px 0 rgb(170,170,170) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

#heading {
	margin: 0 auto;
}

.container {
	width: 24.9em;
	margin: 0 auto;
}

div.board {
	width: 22.2em;
	height: 37em;
	position: absolute;
	background: #bbb;
	border: 1.5em solid #eee;
	border-radius: 1em;
}

div.line {
	margin: 0;
}

.first-line-block {
	/*clear: both;*/
}

.tile {
	position: absolute;
	float: left;
	border: 1px solid transparent;
	margin: 0;
	padding: 0;
	width: 3em;
	height: 3em;
	text-align: center;
	border-radius: 5px;
	transition: 1s ease-in-out;
}

.empty {
	border: 0.35em solid rgb(189, 189, 189);
	background-color: #B8B8B8;
	border-radius: 10px;
	transition: 0.05s linear;
	z-index: 1;
}

.block {
	border: 0.35em solid #4c4c4c;
	box-shadow: 2px 2px 5px #999;
	z-index: 2;
}

.fall {
	transition: 0.1s ease-in;
}

/** Line 0: move 33.3em down */
.tile.position-0-0 {
	transform: translate(0em, 33.3em);
}

.tile.position-0-1 {
	transform: translate(3.7em, 33.3em);
}

.tile.position-0-2 {
	transform: translate(7.4em, 33.3em);
}

.tile.position-0-3 {
	transform: translate(11.1em, 33.3em);
}

.tile.position-0-4 {
	transform: translate(14.8em, 33.3em);
}

.tile.position-0-5 {
	transform: translate(18.5em, 33.3em);
}

/** Line 1: move 29.6em down */
.tile.position-1-0 {
	transform: translate(0em, 29.6em);
}

.tile.position-1-1 {
	transform: translate(3.7em, 29.6em);
}

.tile.position-1-2 {
	transform: translate(7.4em, 29.6em);
}

.tile.position-1-3 {
	transform: translate(11.1em, 29.6em);
}

.tile.position-1-4 {
	transform: translate(14.8em, 29.6em);
}

.tile.position-1-5 {
	transform: translate(18.5em, 29.6em);
}

/** Line 2: move 25.9em down */
.tile.position-2-0 {
	transform: translate(0em, 25.9em);
}

.tile.position-2-1 {
	transform: translate(3.7em, 25.9em);
}

.tile.position-2-2 {
	transform: translate(7.4em, 25.9em);
}

.tile.position-2-3 {
	transform: translate(11.1em, 25.9em);
}

.tile.position-2-4 {
	transform: translate(14.8em, 25.9em);
}

.tile.position-2-5 {
	transform: translate(18.5em, 25.9em);
}

/** Line 3: move 22.2em down */
.tile.position-3-0 {
	transform: translate(0em, 22.2em);
}

.tile.position-3-1 {
	transform: translate(3.7em, 22.2em);
}

.tile.position-3-2 {
	transform: translate(7.4em, 22.2em);
}

.tile.position-3-3 {
	transform: translate(11.1em, 22.2em);
}

.tile.position-3-4 {
	transform: translate(14.8em, 22.2em);
}

.tile.position-3-5 {
	transform: translate(18.5em, 22.2em);
}

/** Line 4: move 18.5em down */
.tile.position-4-0 {
	transform: translate(0em, 18.5em);
}

.tile.position-4-1 {
	transform: translate(3.7em, 18.5em);
}

.tile.position-4-2 {
	transform: translate(7.4em, 18.5em);
}

.tile.position-4-3 {
	transform: translate(11.1em, 18.5em);
}

.tile.position-4-4 {
	transform: translate(14.8em, 18.5em);
}

.tile.position-4-5 {
	transform: translate(18.5em, 18.5em);
}

/** Line 5: move 14.8em down */
.tile.position-5-0 {
	transform: translate(0em, 14.8em);
}

.tile.position-5-1 {
	transform: translate(3.7em, 14.8em);
}

.tile.position-5-2 {
	transform: translate(7.4em, 14.8em);
}

.tile.position-5-3 {
	transform: translate(11.1em, 14.8em);
}

.tile.position-5-4 {
	transform: translate(14.8em, 14.8em);
}

.tile.position-5-5 {
	transform: translate(18.5em, 14.8em);
}

/** Line 6: move 11.1em down */
.tile.position-6-0 {
	transform: translate(0em, 11.1em);
}

.tile.position-6-1 {
	transform: translate(3.7em, 11.1em);
}

.tile.position-6-2 {
	transform: translate(7.4em, 11.1em);
}

.tile.position-6-3 {
	transform: translate(11.1em, 11.1em);
}

.tile.position-6-4 {
	transform: translate(14.8em, 11.1em);
}

.tile.position-6-5 {
	transform: translate(18.5em, 11.1em);
}

/** Line 7: move 7.4em down */
.tile.position-7-0 {
	transform: translate(0em, 7.4em);
}

.tile.position-7-1 {
	transform: translate(3.7em, 7.4em);
}

.tile.position-7-2 {
	transform: translate(7.4em, 7.4em);
}

.tile.position-7-3 {
	transform: translate(11.1em, 7.4em);
}

.tile.position-7-4 {
	transform: translate(14.8em, 7.4em);
}

.tile.position-7-5 {
	transform: translate(18.5em, 7.4em);
}

/** Line 8: move 3.7em down */
.tile.position-8-0 {
	transform: translate(0em, 3.7em);
}

.tile.position-8-1 {
	transform: translate(3.7em, 3.7em);
}

.tile.position-8-2 {
	transform: translate(7.4em, 3.7em);
}

.tile.position-8-3 {
	transform: translate(11.1em, 3.7em);
}

.tile.position-8-4 {
	transform: translate(14.8em, 3.7em);
}

.tile.position-8-5 {
	transform: translate(18.5em, 3.7em);
}

/** Line 9: move 0em down */
.tile.position-9-0 {
	transform: translate(0em, 0em);
}

.tile.position-9-1 {
	transform: translate(3.7em, 0em);
}

.tile.position-9-2 {
	transform: translate(7.4em, 0em);
}

.tile.position-9-3 {
	transform: translate(11.1em, 0em);
}

.tile.position-9-4 {
	transform: translate(14.8em, 0em);
}

.tile.position-9-5 {
	transform: translate(18.5em, 0em);
}


/* Combos */
.block.combo {
	opacity: 0.2;
	transition: 0.2s ease-out;
}

/* Colours */
.block.red {
	background-color: rgb(255, 42, 42);
	border-color: rgb(191, 12, 12);
}

.block.yellow {
	background-color: yellow;
	border-color: rgb(236, 175, 28);
}

.block.blue {
	background-color: rgb(51, 188, 241);
	border-color: rgb(8, 101, 165);
}

.block.green {
	background-color: rgb(64, 192, 64);
	border-color: rgb(24, 131, 30);
}

.block.silver {
	background-color: #999;
	border-color: rgb(97, 97, 97);
}

.block.purple {
	background-color: rgb(230, 70, 230);
	border-color: rgb(147, 52, 147);
}