body {
	background: #ddd;
}

.container {
	width: 500px;
	margin: 0 auto;
}

div.board {
	position: relative;
}

div.line {
	margin: 0;
}

.first-line-block {
	clear: both;
}

.square {
	float: left;
	border: 1px solid transparent;
	margin: 0;
	padding: 0;
	width: 3em;
	height: 3em;
	text-align: center;
}

.block {
	border: 1px solid #4c4c4c;
	border-radius: 3px;
	box-shadow: 2px 2px 5px #999;
}

.combo {
	opacity: 0.4;
	border-color: white;
}

.red {
	background-color: red;
}

.yellow {
	background-color: yellow;
}

.blue {
	background-color: blue;
}

.green {
	background-color: green;
}

.silver {
	background-color: #999;
}

.purple {
	background-color: purple;
}