/* UI */
@font-face {
	font-family: 'Petyka';
	src: url('../fonts/petyka.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Minecraftia';
	src: url('../fonts/minecraftia.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PressStart2P';
	src: url('../fonts/PressStart2P.ttf');
	font-weight: normal;
	font-style: normal;
}

/* Background */
@keyframes animatedBackground {
	from { 
		background-position: 0 0; }
	to { 
		background-position: 0 -500px;
	}
}

@-webkit-keyframes animatedBackground {
	from { 
		background-position: 0 0; 
	}
	to { 
		background-position: 0 -518px;
	}
}